{% extends 'base.html' %}
{% block content %}
<h2>Registered Refugees</h2>
<style>body {background-color: #36536B;}</style>
{% if registrations %}
    <table style="background-color: #F03A59;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth date</th>
            <th>Email</th>
            <th>Medical Requirement</th>
            <th>Medical Explanation</th>
            <th>Country</th>
            <th>Phone Number</th>
            <th>Extra Information</th>
        </tr>
        {% for person in registrations %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.birth_date }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.medical_assistance }}</td>
            <td>{{ person.medical_box }}</td>
            <td>{{ person.phone_list }}</td>
            <td>{{ person.phone_number }}</td>
            <td>{{ person.extra_box }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>No registrations found yet.</p>
{% endif %}
{% endblock %}